* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  padding: 5rem;
}
.bubble-container{
  padding-bottom: 20rem; /*space between the boxes*/
}

.bubble{
  width: 25rem;
  height: 25rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


button{
  color:white;
  padding: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  border:none;
  background-color:blue;
  font-size:1.25rem;
  font-weight: 700;
  width: 15rem;
  cursor:pointer;
}
.boxItem{
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  padding: 2rem;
  list-style: none;
  margin: none;
}